Identifying missing values in tabular data

In [1]:
import pandas as pd
from io import StringIO

In [2]:
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

In [3]:
df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [4]:
#count the number of missing values per column
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

Eliminating training examples or features with missing values

In [5]:
#drop row with missing data 
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [6]:
#drop column with missing data 
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [7]:
#drop rows where all columns are NaN
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [8]:
# drop rows that have fewer than 4 real values
df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [9]:
# only drop rows where NaN appear in specific columns (here: 'C')
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

***disadvantages: if we drop many too many feature columns, we will run the risk of losing valuable
information that our classifier needs to discriminate between classes

Imputing Missing Values -> One of the most common interpolation techniques is mean imputation

In [12]:
from sklearn.impute import SimpleImputer 
import numpy as np 
imr = SimpleImputer(missing_values=np.nan, strategy="mean")
imr = imr.fit(df.values)
imputed_data = imr.transform(df.values)
df.fillna(df.mean())

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   7.5  8.0
2  10.0  11.0  12.0  6.0

<h1>Handling categorical data</h1>